@keyframes backgeound-line {
    0%{
        width: 10%;
    }
    100%{
        width: 100%;
    }
    
}

@keyframes line-header {
    0%{
        transform: rotateZ(-10deg);
        -webkit-transform: rotateZ(-10deg);
        -moz-transform: rotateZ(-10deg);
        -ms-transform: rotateZ(-10deg);
        -o-transform: rotateZ(-10deg);
}
   
    50%{
        transform: rotateZ(12deg);
        -webkit-transform: rotateZ(12deg);
        -moz-transform: rotateZ(12deg);
        -ms-transform: rotateZ(12deg);
        -o-transform: rotateZ(12deg);
}
  
    100%{
        transform: rotateZ(0deg);
        -webkit-transform: rotateZ(0deg);
        -moz-transform: rotateZ(0deg);
        -ms-transform: rotateZ(0deg);
        -o-transform: rotateZ(0deg);
}
}

@keyframes btn{
    0%{
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
}
    100%{
        transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
}
}