@font-face {
    font-family:"fira-code-regular" ;
    src: url('@/assets/font/FiraCode-Regular.ttf');
    font-weight:400 ;
}
@font-face {
    font-family:"fira-code-medium" ;
    src: url('@/assets/font/FiraCode-Medium.ttf');
    font-weight:500 ;
}
@font-face {
    font-family:"fira-code-SemiBold" ;
    src: url('@/assets/font/FiraCode-SemiBold.ttf');
    font-weight:600 ;
}